html
	head
		title Federacion de estudiantes
		link(rel="stylesheet" type="text/css" href="/home.css")
	body(style = "background-color: #E9EBEE;")
		div(id = "header") 
			h5(style = "position: absolute; left: 45%; color: white;") La imagen de su logo aqui

		div(id = "menu")
			div(style = "position: absolute; left: 8% ")
				h2 inicio
			div(style = "position: absolute; left: 18%; ")
				h2 ¿Quienes somos?
			div(style = "position: absolute; left: 40%; ")
				h2 Servicios
			div(style = "position: absolute; left: 55%; ")
				h2 Convocatorias
			div(style = "position: absolute; left: 75%; ")
				h2 Contacto
		div(id = "body")
			img(style = "position: absolute; width: 40%; height: 25%; left: 5%; top: 5%; border-radius: 20px;" src= "image1.jpg")
			h3(style = "position: absolute; left: 50%; width: 50%; top:5%;")
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis diam lectus. Nullam vel velit sed turpis hendrerit porta. Etiam eget mollis nunc. Cras lectus ligula, dignissim in malesuada eu, tincidunt ultrices arcu. Nam pulvinar egestas massa eget tincidunt. Morbi accumsan sollicitudin commodo. Nam id facilisis quam. Nam non lacus ac lectus varius consequat. Nunc maximus mauris feugiat tincidunt fermentum. Suspendisse nec faucibus felis, vitae malesuada nisi. Praesent eget venenatis risus. Morbi luctus libero vel interdum accumsan.
			h3(style = "position: absolute; left: 5%; top: 30%; width: 90%; ")
				Aenean feugiat nisi sed eleifend euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse auctor dolor ac metus vestibulum sodales. Etiam placerat elementum rhoncus. Aenean vitae justo eu lacus venenatis pharetra. Vestibulum pharetra ex id est semper, ut dignissim risus maximus. Integer massa sapien, aliquet a dui eget, rutrum mattis dolor. Suspendisse sit amet varius odio, nec consequat elit. Phasellus consequat, augue sit amet fermentum vestibulum, purus nisl commodo elit, ac lobortis urna metus sagittis nibh. Integer vel aliquet turpis. Praesent elementum, turpis ut pellentesque laoreet, nunc lorem vehicula ligula, sed venenatis ligula augue nec tortor. Ut elit massa, bibendum interdum felis eget, volutpat tincidunt urna. Sed scelerisque ex eget efficitur eleifend. Phasellus at sem nec tellus bibendum sodales a eget erat. Curabitur mollis enim vitae nisi dapibus aliquam. Nulla eu ante vulputate lectus euismod porttitor quis quis metus.

				Praesent ullamcorper libero leo, quis vestibulum leo sollicitudin id. Phasellus vestibulum condimentum libero, et iaculis lorem suscipit at. Donec ultrices odio vitae nibh gravida porttitor. Sed eget pharetra quam. Suspendisse tincidunt auctor arcu a ultrices. Mauris eu arcu nec lorem sodales lobortis. Nulla id sollicitudin velit. Donec eu lorem erat. Etiam in ornare arcu, sed scelerisque erat. Ut non ullamcorper leo, et accumsan lectus. Aliquam ut condimentum ipsum. Donec ex purus, consectetur vitae dui accumsan, tristique rhoncus sem. Nam nisi nulla, interdum non volutpat vel, placerat mollis ex. Quisque dolor orci, facilisis in neque non, sagittis maximus purus.

			h3(style = "position: absolute; left: 5%; top: 70%; width: 90%; ")
				Proin tempus felis tellus, non lacinia nunc dignissim non. Maecenas commodo, lectus ut varius efficitur, leo ex faucibus arcu, et tincidunt ante diam nec urna. Morbi elementum risus id viverra rhoncus. Nam nisi ex, viverra egestas tortor ut, sagittis elementum nisl. Vivamus eu gravida dolor. Nam varius nisi eget justo commodo, quis pulvinar dui porttitor. Nulla arcu nulla, aliquet in elementum vel, rhoncus ac lacus. Mauris tempus eget felis porttitor tristique. Nullam nec cursus diam.

				Sed nisi libero, dignissim sit amet lectus et, tempor maximus orci. Nulla quis leo quis nisl hendrerit semper in eu turpis. Phasellus euismod lacus aliquet magna feugiat hendrerit. Duis iaculis, orci sed porta gravida, arcu ex viverra purus, ut pellentesque elit purus vel nisl. Maecenas iaculis egestas est vel condimentum. Proin non dui mauris. Nunc eu sapien dapibus, viverra nulla at, volutpat sem. Morbi elementum turpis id est volutpat scelerisque. In hac habitasse platea dictumst. Vivamus imperdiet turpis vitae hendrerit posuere. 

		div(id = "footer")
			div(id = "info")
				h2 Informacion y redes sociales: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac.


