#header{
	position: absolute; top: 0%; left: 10%; width: 80%; height: 20%; background-color: #3B5998; border-radius: 20px;
}

#menu
{
	position: absolute; top: 25%; left: 10%; width: 80%; height: 8%; background-color: white; background-color: white;
	border-radius: 20px;
}

#body
{
	position: absolute; top: 40%; left: 10%; width: 80%; height: 140%; background-color: white; background-color: white;
	border-radius: 20px;
}

#footer
{
	position: absolute; top: 190%; left: 10%; width: 80%; height: 10%; background-color: red; background-color: white;
	border-radius: 20px;
}